:root{
    --primary: rgb(255, 174, 0);
    --bg : black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: white;

}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.5);
    border-bottom: 1px solid rgba(255, 208, 0, 0.662);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .img-logo {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1px;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 777;
    color: whitesmoke;
    text-align: center;
    align-items: center;
    font-style: italic;
    margin-left: 1rem;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scale(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: white;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: yellow;
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

#hamburger-menu{
    display: none;
}






/* MEDIA QUERIES */

/* Laptop */
@media (max-width: 1366px) {
    html {
      font-size: 85%;
    }
  }

/* Tablet */
@media (max-width: 768px) {
    html {
      font-size: 57.5%;
    }
    #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
    }
    .navbar .navbar-nav.active{
        right: 0;
    }
    .navbar .navbar-extra {
        margin-left: auto;
    }
  }

/* Mobile  */
@media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }